<div class="container form-container devise-form col-md-4 col-sm-6">  
  <h2>Sign Up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!--= devise_error_messages! % -->

    <div class="form-group">
      <%= f.label :email, class: 'control-label devise-label' %><br />
      <%= f.email_field :email, placeholder: 'Email', class: 'form-control col-md-6 input-lg', autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label devise-label' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: 'Password', class: 'form-control col-md-6 input-lg', autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'control-label devise-label' %><br />
      <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control col-md-6 input-lg', autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign up", class: 'col-md-8 col-sm-6 btn btn-primary form-btn', id: 'devise-submit-btn' %>
      <div class="shared-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>

    <%= f.hidden_field :soft_token, value: current_user.soft_token %>
  <% end %>

  
</div>
