<%= form_for(@task, :html => {:class => "new_task"}, remote: true) do |f| %>

<%= render 'layouts/error', obj: @task %>

  <div class="form-group">
    <%= f.label :task_Name, class: 'control-label', id: 'name-label' %><br>
    <%= f.text_field :name, placeholder: "Task Name", class: 'form-control input-lg' %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label', id: 'description-label' %><br>
    <%= f.text_area :description, placeholder: "Description", class: 'form-control input-lg' %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="form-group">
     <%= f.submit class: 'col-md-8 col-sm-6 btn btn-primary form-btn', id: 'task-submit-btn' %>
  </div>
<% end %>

