<%= div_for task do %>
    <div class="container-fluid">
	    <div class="row">
			<h4 class="task_name"><%= task.name %>
	          <%= link_to edit_task_path(task), remote: true do %>
				 <span class="glyphicon glyphicon-pencil"></span>
			  <% end %>
			  <%= link_to complete_path(task), remote: true do %>
				 <span class="glyphicon glyphicon-ok"></span>
			  <% end %>
			  <%= link_to task, remote: true, method: :delete do %>
				 <span class="glyphicon glyphicon-remove"></span>
			  <% end %>
		    </h4>
		</div>
		<h5 class="task_desc"><%= task.description %></h5>
	</div>
<% end %>


