
  $('.overlay').css({ opacity: '0', visibility: 'hidden' })
  $('.task-numbers').html('<%= j render "layouts/dashboard" %>')
  $('#incomplete_tasks').prepend('<%= j render partial: "task", locals: {task: @task} %>');

