
<div class="overlay">
    <%= render 'layouts/overlay' %>
</div>

<nav class="navbar navbar-default">
    <%= render 'layouts/navigation' %>
</nav>

<div class="container task-numbers">
	<%= render 'layouts/dashboard' %>
</div>

<div id="task_container" class="container-fluid">


  <h3 class="task_title">Incomplete Tasks</h3>
    <% if @tasks.empty? %>
        <h4> You haven't created any tasks yet get started by clicking the "new task" button above. </h4>
    <% else %>
		<div class="my_tasks" id="incomplete_tasks">
		  <% @tasks.incomplete.each do |task| %>
		    <%= render task %>
		  <% end %>
		</div>
    <% end %>

  <div id="divider"></div>

  <h3 class="task_title">Completed Tasks</h3>
	<div class="my_tasks" id="complete_tasks">
	  <% @tasks.complete.each do |task| %>
	    <h4><%= task.name %></h4>
	    <h5><%= task.description %></h5>
	  <% end %>
	</div>

</div>