<% if current_user.needs_engagement? %>
  $(".flash").html("<%= j (render 'layouts/sign_up_alert') %>")
<% else %>
  $('.form-container').html("<%= j (render 'form') %>")
  $('#new-task').bind('click', function() {
	$('.overlay').css({ opacity: "1", visibility: "visible" })
  })
<% end %>
