<div class="container form-container devise-form col-md-4 col-sm-6 col-xs-8">  
  <h2>Log In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: 'control-label devise-label' %><br />
      <%= f.email_field :email, class: 'form-control col-md-6 input-lg', autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label devise-label' %><br />
      <%= f.password_field :password, class: 'form-control col-md-6 input-lg', autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'remember' %>
      </div>
    <% end -%>

    <div class="form-group">
      <%= f.submit "Log in", class: 'col-md-8 col-sm-6 btn btn-primary form-btn', id: 'devise-submit-btn' %>
      <div class="shared-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>

</div>


