%base_color {
    color: #fff;
}


.navbar-default {
	background: $blue;
	border-color: $blue;

	.navbar-brand {
	   @extend %base_color;

	   &:hover {
	     @extend %base_color;
	   }
	}

	.navbar-nav {

	   li {
	     a {
	       color: $Lightblue;

	       &:hover {
	         @extend %base_color;
	       }
	     }
	   }
	}
}

#new-task {
	background: $Orange;
	color: #fff;
}