
.overlay {
  position: fixed;
  @include col-centered;
  background: rgba($Orange, .85);
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5
}


.form-container {
  margin: 40px auto 0px;
  float: none;
}

.new_task, .edit_task, .new_user {
  
  .form-group {
    margin: 0px 0px;
    margin-top: 40px;

    label {
      visibility: hidden;
      opacity: 0;
    }

    input[type="text"] {
      color: #fff;
      font-size: 35px;
    }

    textarea {
      color: #fff;
      font-size: 35px;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: rgba($Lightblue, .80) !important;
    }

    .form-control {
      background-color: transparent;
      border: 2px solid transparent;
      border-bottom: 2px solid $Lightblue;
      border-radius: 0px;
      box-shadow: none;
      transition: background-color 0.3s;
      transition: border 0.5s;

      &:focus {
        background-color: $Orange;
        border: 2px solid #fff;
        box-shadow: none;
        outline: none;
      }
    }

    .form-btn {
      color: $Lightblue;
      font-size: 20px;
      background-color: transparent;
      border-radius: 0px;
      border: 2px solid $Lightblue;
      margin-left: 33%;

      &:hover {
        color: $Orange;
        background-color: #fff;
        border-color: #fff;
      }
    }
  }
}

.nav-close {
  position: fixed;
  width: 100%;
  background-color: transparent !important;
  border-color: transparent !important;

  #close {
    width: auto;
    height: 60px;
    padding: 0px 25px;
    margin-top: 15px;
    right: 20px;
    color: $Lightblue;
    // border-color: $Lightblue;
    // background-color: $Lightblue;

    &:hover {
      cursor: hand;
      cursor: pointer;
    }

    .line {
      width: 1px;
      background-color: #ffffff;
      position: absolute;
      display: block;

      &:hover {
        cursor: hand;
        cursor: pointer;
      }
    }

    #line1 {
      height: 60px;
      transform: rotate(42deg);
    }

    #line2 {
      height: 60px;
      transform: rotate(134deg);
    }
  }
}

