/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "utilities/all";
@import "overlay";
@import "navigation";
@import "dashboard";
@import "devise";
@import "tasks";


a:hover {
	text-decoration: none;
}

//flash messages//

.alert {
	position: fixed;
	z-index: 10000;
	width: 100%;
	text-align: center;
	color: $Orange;
	background: #fff;
}

.must-register {
	font-size: 20px;
	color: #fff;
	background-color: red;
	border-radius: 0px;

	a {
		text-transform: uppercase;
		color: $Lightblue;
	}
}