
#dash_container {
	@include col-centered;
    background: darken($Lightestblue, 2%);
    padding: 35px;
}

.box {
    background: $blue;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    text-align: center;
    margin: 0px 30px;

	.task_digit {
	  color: $Orange;
	  font-size: 50px;
	}

	.task_text {
	   color: $Lightblue;
	   font-size: 25px;
	   line-height: 25px;
	}
}

#task_container {
	background: $Lighterblue;
}