/* Devise Views */

.devise-form {
	border: 2px solid $Orange;
	padding: 0px 40px 40px 40px;

	h2 {
		text-align: center;
		color: $blue;
	}
    
    .new_user {

		.devise-label {
	      visibility: visible !important;
	      opacity: 1 !important;
	    }

	    .remember {
	      visibility: visible !important;
	      opacity: 1 !important;
	    }
	}
}

.form-group {

	#user_email,
	#user_password,
	#user_password_confirmation {
      margin-bottom: 30px;
      border: none;
      border-bottom: 2px solid $Lightblue;

	  &:focus {
	    background-color: $Lightblue;
	    border-bottom: 2px solid $Orange;
	    box-shadow: none;
	    outline: none;
	  }
	}

	.shared-links {
		font-size: 20px;

		a {
			color: $blue;
		}
	}

	#devise-submit-btn {
		color: $Orange;
	    font-size: 20px;
	    background-color: #fff;
	    border-color: $Orange;
	    border-radius: 0px;
	    margin-left: 32%;

	    &:hover {
	    	color: #fff;
	    	background-color: $Orange;
	    }
	}
}


