// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */

.task_title {
	text-decoration: underline;
}

#divider {
	background: $blue;
    height: .5px;
    width: 100%;
    margin: 0 auto;
}

.glyphicon-pencil,
.glyphicon-ok,
.glyphicon-remove {
	font-size: 18px;
	color: $blue;

	&:hover {
	   color: $Orange;
	}
}

.glyphicon-pencil {
	padding-left: 15px;
}

.task_name {
	margin-bottom: 0px;
}

#complete_tasks {
	h4, h5 {
		text-decoration: line-through;
		color: $blue;
		opacity: .6;
	}
}

/*_task */

