<% unless flash.blank? %>
   <% flash.each do |type, message| %>
      <div class="alert alert-<%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">X</button>
        <%= message %>
      </div>
   <% end %>
<% end %>