<div id="dash_container" class="panel panel-default">
  <div class="row">
    <div id="box1" class="col-md-3 col-sm-12 col-xs-3 box well">
        <% if current_user.soft_user? %>
            <div class="task_digit"><%= Task.where(soft_token: @user.soft_token).count %></div>
            <div class="task_text"><%= "Task".pluralize(Task.where(soft_token: @user.soft_token).count) %> <br> Created</div>
        <% else %>
            <div class="task_digit"><%= current_user.tasks.count %></div>
            <div class="task_text"><%= "Task".pluralize(Task.all.count) %> <br> Created</div>
        <% end %>
    </div>
    <div id="box2" class="col-md-3 col-sm-12 col-xs-3 box well">
        <div class="task_digit"><%= current_user.tasks.complete.count %></div>
        <div class="task_text"><%= "Task".pluralize(Task.complete.count) %> <br> Completed</div>
    </div>
    <div id="box3" class="col-md-3 col-sm-12 col-xs-3 box well">
        <div class="task_digit"><%= current_user.tasks.incomplete.count %></div>
        <div class="task_text"><%= "Task".pluralize(Task.incomplete.count) %> <br> Incomplete</div>
    </div>
  </div>
</div><!--items-container-->


