<% if obj.errors.any? %>
    <div class="alert alert-danger fade in" id="error_explanation">
      <h4><strong>Couldn't save task!</strong> Please correct the following errors:</h4>
      <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>