
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" href="#">Task Manager</span>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><%= link_to 'New Task', new_task_path, remote: true, id: "new-task", class: "btn-md btn-success" %></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">

      <% if current_user.soft_user? %>
        <li>
          <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-user"></span>
            Sign Up
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span>
            Sign In
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to destroy_user_session_path remote: true do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            Sign Out
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_registration_path do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit Profile
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

