<div class="navbar navbar-default nav-close">
	<div class="col-md-12 pull-right" id="close">
	   <span class="line" id="line1"></span>
	   <span class="line" id="line2"></span>
	</div>
</div>
<div class="container">	
  <div class="row">
	<div class="col-md-6 form-container">
        
	</div>
  </div>
</div>

