<!DOCTYPE html>
<html>
<head>
  <title>Taskmanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<div class="flash">
  <%= render partial: 'layouts/alerts' %>
</div>

<body>

  <%= yield %>

<br>

	<div>   
	   <%= current_user.inspect %>
	</div>   
</body>
</html>
